<main>
    <section id="create-container">
        <div class="create-container-info">
            <h1>Create Blog</h1>
            <form method="post" action="/create">
                <label for="title">Title:</label>
                <input name="title" type="text" id="title">

                <label for="image">Image:</label>
                <input name="image" type="text" id="image" placeholder="http://...">

                <label for="content">Content:</label>
                <textarea id="content" name="content"></textarea>

                <label for="category">Blog Category:</label>
                <input name="category" type="text" id="category">

                <input type="submit" id="btn" value="POST">
            </form>
        </div>
    </section>
</main>